<%- include("./header.ejs") %>

<div class="container">
  <h1 class="text-center">All Users</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% if(users.length>0){ %> <% users.forEach((user)=>{ %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <a href="/admin/user/edit/<%= user._id %>" class="btn btn-success"
            >Edit</a
          >
          <a href="/admin/user/delete/<%= user._id %>" class="btn btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      <% }) %> <% }else{ %>
      <tr>
        <td colspan="3">
          No User found
        </td>
      </tr>

      <% } %>
    </tbody>
  </table>
</div>

<%- include("./footer.ejs") %>
