<%- include("./partcials/header.ejs") %>

<body>
  <div class="container-fluid">
    <div class="banner">
      <div class="wrapper-2" style="background-image:linear-gradient(to top right,rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url('<%= post.imgUrl %>');background-repeat: no-repeat;">
        <h1><%= post.title %></h1>
      </div>
    </div>
    <div class="container">
      <div class="body">
      <%- post.body %>
      </div>
    </div>
  </div>
  <hr>
  <div class="container-fluid">
    <div id="disqus_thread"></div>
    <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
      (function() {
        // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement("script");
        s.src = "https://bloggerz-1.disqus.com/embed.js";
        s.setAttribute("data-timestamp", +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript
      >Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript"
        >comments powered by Disqus.</a
      ></noscript
    >
  </div>
  <div class="container">
    <h1 class="text-center tit-1">Latest post</h1>
    <div class="row">
        <!-- single post -->
        <div class="col-12 col-md-3">
          <div class="cust-col text-center">
            <div class="card" width="100%">
              <img
                class="card-img-top"
                src="https://i.pinimg.com/originals/a6/21/37/a6213722cfa9b36b637e1f959f5faf0a.jpg"
                alt="Card image"
                style="width:100%"
              />
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">
                  Some example text some example text. John Doe is an architect
                  and engineer
                </p>
                <a href="#" class="btn btn-primary">See Profile</a>
              </div>
            </div>
          </div>
        </div>
        <!-- single post end -->
        <!-- single post -->
        <div class="col-12 col-md-3">
          <div class="cust-col text-center">
            <div class="card" width="100%">
              <img
                class="card-img-top"
                src="https://www.whoa.in/201604-Whoa/10-hd-wallpapers-and-beautiful-images-of-whoain.jpg"
                alt="Card image"
                style="width:50%"
              />
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">
                  Some example text some example text. John Doe is an architect
                  and engineer
                </p>
                <a href="#" class="btn btn-primary">See Profile</a>
              </div>
            </div>
          </div>
        </div>
        <!-- single post end -->
        <!-- single post -->
        <div class="col-12 col-md-3">
          <div class="cust-col text-center">
            <div class="card" width="100%">
              <img
                class="card-img-top"
                src="https://www.whoa.in/201604-Whoa/10-hd-wallpapers-and-beautiful-images-of-whoain.jpg"
                alt="Card image"
                style="width:50%"
              />
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">
                  Some example text some example text. John Doe is an architect
                  and engineer
                </p>
                <a href="#" class="btn btn-primary">See Profile</a>
              </div>
            </div>
          </div>
        </div>
        <!-- single post end -->
        <!-- single post -->
        <div class="col-12 col-md-3">
          <div class="cust-col text-center">
            <div class="card" width="100%">
              <img
                class="card-img-top"
                src="https://www.whoa.in/201604-Whoa/10-hd-wallpapers-and-beautiful-images-of-whoain.jpg"
                alt="Card image"
                style="width:50%"
              />
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">
                  Some example text some example text. John Doe is an architect
                  and engineer
                </p>
                <a href="#" class="btn btn-primary">See Profile</a>
              </div>
            </div>
          </div>
        </div>
        <!-- single post end -->
      </div>
    </div>
  </div>
</body>

<%- include("./partcials/footer.ejs") %>
